In [2]:
import pandas as pd

In [3]:
pd.read_csv("spotify_millsongdata.csv")

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [4]:
dataset = pd.read_csv("spotify_millsongdata.csv")

In [5]:
dataset['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [6]:
dataset=dataset.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [7]:
#removing the \n from text
dataset['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

0       seaside whenever you stroll along with me  \r ...
1       hey, na na na hey hey thought about you  \r he...
2       heaven on earth  \r we need it now  \r i'm sic...
3       i'm going going back back to the bay  \r rest ...
4       i'll find the places where you hide  \r i'll b...
                              ...
4995    standing on your own two feet  \r inches away ...
4996    y-yea . . .  \r the flow so amazin' nigga!  \r...
4997    lemme see you put your hearts up, yeah lemme s...
4998    yellow canary, tennis bracelet necklace, knahm...
4999    standing by the wayside, begging for a ride  \...
Name: text, Length: 5000, dtype: object

In [8]:
import nltk
#nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

In [9]:
test = PorterStemmer()

In [10]:
def token(txt):
    token = nltk.word_tokenize(txt)
    tested = [test.stem(i) for i in token]
    return " ".join(tested)

In [13]:
token("we are warriors, warriors")

'we are warrior , warrior'

In [63]:
dataset['text'].apply(lambda x: token(x))

0       last christma , i gave you my heart but the ve...
1       ( ian hunter ) one more town on the merry-go-r...
2       he 's a fine figur of a man and handsom too wi...
3       delia , oh . delia delia all my life if i had ...
4       if i 'm high on a hill she 'd still been look ...
                              ...
4995    now he 's brought down the rain and the indian...
4996    everybodi know about hollywood skunk soulful s...
4997    do you rememb a guy that 's been in such an ea...
4998    molli brown , wait for me in a littl one-hors ...
4999    yesterday i saw a whore lookin ' out for more ...
Name: text, Length: 5000, dtype: object

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [65]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [66]:
matrix=tfid.fit_transform(dataset['text'])

In [67]:
similarity = cosine_similarity(matrix)

In [68]:
similarity[0]

array([1.        , 0.02163758, 0.01788264, ..., 0.01794599, 0.00551946,
       0.01484376])

In [69]:
dataset.tail(5)

,artist,song,text
4995,Waterboys,Killing My Heart,Now he's brought down the rain and the Indian ...
4996,Red Hot Chili Peppers,Sikamikanico,Everybody knows about Hollywood skunks \r\nSo...
4997,David Bowie,Ashes To Ashes,Do you remember a guy that's been \r\nIn such...
4998,Vince Gill,Molly Brown,"Molly Brown, waits for me \r\nIn a little one..."
4999,Sublime,Live At E's,Yesterday I saw a whore \r\nLookin' out for m...

In [70]:
dataset[dataset['song']=='Precious Time'].index[0]

1506

In [71]:
#Recommender Algorithm
def recommender(song_name):
    idx = dataset[dataset['song']==song_name].index[0]
    distance = sorted(list(enumerate(similarity[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(dataset.iloc[s_id[0]].song)
    return song

In [74]:
recommender("Precious Time")

["Life's Too Short To Love Like That",
 'Take My Hand Precious Lord',
 "Don't Waste Your Time",
 'Precious Memories']